.russian-flag {
  display: flex;
  width: 300px;
  height: 200px;
  margin: 180px auto;
  padding: 10px;
}

.red-stripe {
  flex: 1;
  background-color: red;
}

.white-stripe {
  flex: 1;
  background-color: white;
}

.red-stripe {
  flex: 1;
  background-color: #ff0000;
}
body {
  background-color: black;
}
h1 {
  color: white;
  margin-left: 750px;
  position: absolute;
  top: 400px;
}
