body{
    background-color: #FFE6E6;
}


h1{
    background-color: #6420AA;
    text-align: center;
    color: white;
}
img{
    width: 100px;
}
#one{
    width: 400px;
}
p{
    font-style:italic;
}

