#cursor {
  position: absolute;
  top: 0;
  right: 0;

  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  z-index: 10;

  transform: translate(-50%, -50%);

  transition: all 0ms linear;

  pointer-events: none;
  background-color:  #8232df59;
  background-color: #ab77e721;
}
/* * { */
  /* cursor: none; */
/* } */
