H3{ background-color: rgb(248, 59, 59);}
h3{color: white;}
table{ border: red;
         border:collapse ;}
h3{
    font-weight: 100;
}
table{
    font: weight 900;
    font-size:xx-large;
}
IMG{
    height: 160px;
    width: 160px;
}
